@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 0.7;
    
  }

  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.heartbeat {
  animation: heartbeat 3.3s ease-in-out infinite;
}
